<div class="col-md-4 mx-auto">
    <div class="card text-center">
        <div class="card-header">
            <h3>Nuevo Cliente</h3>
        </div>
        <div class="card-body">
            <form action="/clientes/nuevo-cliente" method="post">
                <div class="form-group">
                    <label class="control-label pull-left" for="nombre">Nombre del cliente</label>
                    <input type="text" name="nombre" id="nombre" class="form-control"
                        placeholder="Nombre completo del cliente" autofocus>
                </div>
                <div class="form-group">
                    <label class="control-label pull-left" for="ci">Cédula del cliente</label>
                    <input type="text" name="ci" id="ci" class="form-control"
                        placeholder="Número de cédula de identidad">
                </div>
                <div class="form-group">
                    <label class="control-label pull-left" for="movil">Teléfono celular</label>
                    <input type="tel" name="movil" id="movil" class="form-control"
                        placeholder="Número de celular del cliente">
                </div>
                <div class="form-group">
                    <label class="control-label pull-left" for="email">Dirección de correo electrónico</label>
                    <input type="email" name="email" id="email" class="form-control"
                        placeholder="Dirección de correo electrónico">
                </div>
                <div class="form-group">
                    <label for="referencia1" class="control-label pull-left">Primer contacto de referencia</label>
                    <input type="tel" name="referencia1" id="referencia1" class="form-control"
                        placeholder="Primer contacto de referencia">
                </div>
                <div class="form-group">
                    <label for="referencia2" class="control-label pull-left">Segundo contacto de referencia</label>
                    <input type="tel" name="referencia2" id="referencia2" class="form-control"
                        placeholder="Segundo contacto de referencia">
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block">
                        Guardar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>