<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Gestion de Clientes</h1>

    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <div class="form-group">
                <button type="button" class="btn btn-primary btn-block" data-toggle="modal"
                    data-target="#nuevoClienteModal">
                    Nuevo
                </button>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="nuevoClienteModal" tabindex="-1" role="dialog"
                aria-labelledby="newDuenoModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Nuevo Cliente</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form action="/clientes/nuevo" method="POST">
                            <div class="modal-body">
                                <div class="form-group">
                                    <label class="control-label pull-left" for="nombre">Nombre del cliente</label>
                                    <input type="text" name="nombre" id="nombre" class="form-control"
                                        placeholder="Nombre completo del cliente" autofocus>
                                </div>
                                <div class="form-group">
                                    <label class="control-label pull-left" for="ci">Cédula del cliente</label>
                                    <input type="text" name="ci" id="ci" class="form-control"
                                        placeholder="Número de cédula de identidad">
                                </div>
                                <div class="form-group">
                                    <label class="control-label pull-left" for="movil">Teléfono celular</label>
                                    <input type="tel" name="movil" id="movil" class="form-control"
                                        placeholder="Número de celular del cliente">
                                </div>
                                <div class="form-group">
                                    <label class="control-label pull-left" for="email">Dirección de correo
                                        electrónico</label>
                                    <input type="email" name="email" id="email" class="form-control"
                                        placeholder="Dirección de correo electrónico">
                                </div>
                                <div class="form-group">
                                    <label for="referencia1" class="control-label pull-left">Primer contacto de
                                        referencia</label>
                                    <input type="tel" name="referencia1" id="referencia1" class="form-control"
                                        placeholder="Primer contacto de referencia">
                                </div>
                                <div class="form-group">
                                    <label for="referencia2" class="control-label pull-left">Segundo contacto de
                                        referencia</label>
                                    <input type="tel" name="referencia2" id="referencia2" class="form-control"
                                        placeholder="Segundo contacto de referencia">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <div class="form-group">
                                    <button type="button" class="btn btn-danger btn-block" data-dismiss="modal">
                                        Cancelar
                                    </button>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-block">
                                        Guardar
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            {{!-- <button type="button" class="btn btn-sm btn-outline-secondary">Export</button> --}}
        </div>
    </div>
</div>